@font-face {
    font-family: 'lakeshore';
    src: url('fonts/Lakeshore-Regular.otf') format('opentype');
    src: url('fonts/Lakeshore-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    font-size: 10px;
    background: rgb(149, 194, 215);
}

a[href='#'] {
    text-decoration: none;
}

.thumbnail-item + .thumbnail-item {
    margin-top: 10px;
}

.logo-text {
    background: white;
    text-align: center;
    text-transform: uppercase;
    font-family: lakeshore;
    font-size: 37px;
}

.thumbnail-item {
    display: inline-block;
    width: 120px;
    border: 5px solid rgb(100%, 100%, 100%);
}

.thumbnail-list {
    list-style: none;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
}

.thumbnail-image {
    display: block;
    width: 100%;
}

.thumbnail-title {
    display: block;
    margin: 0;
    padding: 4px 10px;

    background: rgb(96, 125, 139);
    color: rgb(202, 238, 255);

    font-size: 18px;
}

.detail-image {
    display: inline-block;
    width: 75%;
}